/*mobile first*/
body {
	footer {
		width: 100%;
		background-color: black;
		color: white;
		font-family: "Inter", sans-serif;
		padding: 23px 30px;

		ul {
			list-style: none;
		}
		h6 {
			font-size: 32px;
			font-weight: 400;
			line-height: 38.73px;
		}
		p {
			font-size: 20px;
			font-weight: 300;
			line-height: 24.2px;
			padding: 8px 0;
		}
		a {
			font-size: 16px;
			font-weight: 300;
			line-height: 19.36px;
		}

		figure {
			padding-top: 104px;
			img {
				width: auto;
				display: block;
				margin: 0 auto;
				padding: 0;
			}
			figcaption {
				p {
					font-size: 16px;
					font-weight: 300;
					line-height: 26.59px;
					font-family: "Mukta", sans-serif;
					text-align: center;
					padding-bottom: 30px;
					@include media-desktop {
					padding-bottom: 0;
					}
				}
			}
		}
		@include media-desktop {
			display: flex;
			align-items: self-end;
			justify-content: space-between;
			height: 300px;
		}
	}
}
