/**
 * Main Styles for theme.
 */

// sass --watch main.scss ../style.min.css --style=compressed

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-big: 1366px;

$theme-pink: #EEAEAE;
$theme-green: #BFD9B6;
$theme-main-font: "Mukta", sans-serif;

$img-directory: "img/";

@import 'normalize';
@import 'mixins';
@import 'fonts';
@import 'skeleton';
@import 'body-changes';
@import 'header';
@import 'footer';
@import 'pages';
@import 'single';
