@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Media queries */
@mixin media-tablet {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin media-desktop {
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin media-desktop-big {
    @media screen and (min-width: $breakpoint-desktop-big) {
        @content;
    }
}


@mixin post-block {
    a.link-img-container {
        position: relative;
        height: 0;
        padding-bottom: 75%;
        display: block;
        overflow: hidden;
    }
    img {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        width: auto;
        max-width: none;
    }
}