body {
	img {
		width: 100%;
		margin: 0 auto;
		padding: 0 25px 33px;
		@include media-desktop {
			width: 374px;
			padding: 0;
			margin: 0;
		}
	}
	p {
		font-size: 16px;
		line-height: 26.59px;
	}
	section.section-title {
		padding-top: 32px;
		figure {
			content: " ";
			background-image: url(img/linea-verde-mob-1.svg);
			background-position-y: 46px;
			background-repeat: no-repeat;
			background-size: contain;
			@include media-desktop {
				display: flex;
				align-items: center;
				justify-content: left;
				padding-left: 118px;
				background-image: url(img/linea-verde-dk-1.svg);
				background-position-y: 0;
				background-repeat: no-repeat;
				background-size: contain;
				position: relative;
			}

			figcaption {
				@include media-desktop {
					padding-left: 45px;
				}
				h1 {
					font-family: "Inter", sans-serif;
					font-size: 48px;
					text-align: center;
					padding-bottom: 8px;
					margin-bottom: 0;
					font-weight: 100;
					@include media-desktop {
						text-align: left;
						font-size: 64px;
						font-weight: 100;
						line-height: 77.45px;
						padding-top: 115px;
					}
				}
				p {
					max-width: 290px;
					text-align: center;
					font-size: 24px;
					line-height: 39px;
					margin: 0 auto;
					@include media-desktop {
						font-size: 32px;
						text-align: left;
						margin: 0;
						line-height: 53.18px;
						width: 100%;
						max-width: 100%;
					}
				}
			}
		}
		&::after {
			@include media-desktop {
				content: " ";
				background-image: url(img/Rectangle-rosa1.svg);
				background-position-y: 18px;
				background-repeat: no-repeat;
				background-size: contain;
				width: 185px;
				height: 185px;
				position: absolute;
				bottom: -115px;
				right: -99px;
				z-index: 1;
			}
		}
		&::before {
			@include media-desktop {
				content: " ";
				background-image: url(img/Rectangle-verde1.svg);
				background-position-y: 18px;
				background-repeat: no-repeat;
				background-size: contain;
				width: 290px;
				height: 290px;
				position: absolute;
				bottom: -73px;
				right: -145px;
				z-index: 1;
			}
		}
	}

	section.section-about-work {
		padding: 270px 16px 80px;
		content: " ";
		background-image: url(img/rulo-rosa-mob-1.svg);
		background-position-y: 24px;
		background-repeat: no-repeat;
		margin-top: -85px;
		background-size: contain;
		@include media-desktop {
			background-image: url(img/rulo-rosa-dk-1.svg);
			background-position-y: 17px;
		}
		h2 {
			font-size: 40px;
			font-weight: 700;
			color: $theme-pink;
			line-height: 66.48px;
			padding-bottom: 8px;
			@include media-desktop {
				max-width: 500px;
				margin-left: 20%;
			}
		}
		.inner-continaer-paragraphs {
			@include media-desktop {
				max-width: 500px;
				margin-left: 20%;
			}
			p {
				padding-bottom: 8px;
			}
		}
	}

	section.section-therapy-individual,
	section.section-therapy-couples {
		figcaption {
			h3 {
				font-size: 20px;
				font-weight: 700;
				line-height: 33.24px;
				padding-bottom: 8px;
			}
			p {
				padding-bottom: 20px;
			}
			padding: 0 16px 40px;
		}
	}
	section.section-therapy-individual {
		background-image: linear-gradient(white, $theme-pink);
		margin-bottom: 80px;
		@include media-desktop {
			figure {
				position: relative;
				img {
					position: absolute;
					right: 50px;
					top: -93px;
					width: 364px;
				}

				figcaption {
					padding-left: 41px;
					padding-top: 90px;
					div {
						display: flex;
						flex-direction: row;
						align-items: baseline;
						justify-content: left;
						p {
							max-width: 240px;
							padding-right: 20px;
						}
					}
				}
			}
		}
		@include media-desktop-big {
			figure {
				img {
					right: 70px;
				}

				figcaption {
					padding-left: 80px;
				}
			}
		}
	}
	section.section-therapy-couples {
		background-image: linear-gradient(white, $theme-green);
		margin-bottom: 40px;
		padding-top: 125px;
		@include media-desktop {
			figure {
				position: relative;
				height: 404px;
				img {
					position: absolute;
					top: -70px;
					width: 364px;
					left: 140px;
				}

				figcaption {
					padding-left: 41px;
					padding-top: 90px;
					margin-left: 518px;
					padding-right: 80px;
					div {
						display: flex;
						flex-direction: row;
						align-items: baseline;
						justify-content: left;
						p {
							max-width: 250px;
							padding-right: 20px;
						}
					}
				}
			}
		}
	}

	section.section-fees {
		margin: 48px 16px;
		padding: 40px;
		border: solid 3px #e0e0e0;
		border-radius: 4px;
		@include media-desktop {
			width: 722px;
			margin: 0 auto;
			margin-top: 150px;
			div {
				display: flex;
				align-items: baseline;
				justify-content: left;
				p.fee-box {
					padding-left: 24px;
				}
			}
		}

		span {
			font-size: 20px;
			font-weight: 700;
			line-height: 33.24px;
		}
		p {
			padding-top: 16px;
		}
		p.fee-box {
			font-size: 16px;
			font-weight: 700;
			line-height: 26.59px;
			padding-top: 0;
		}
	}

	section.section-about-me {
		@include media-desktop {
			padding-top: 85px;
		}
		figure {
			content: " ";
			background-image: url(img/linea-verde-mob-2.svg);
			background-position-y: 181px;
			background-repeat: no-repeat;
			background-size: contain;
			@include media-desktop {
				background-image: url(img/linea-verde-dk-2.svg);
				background-position-y: 0px;
				display: flex;
				padding: 0 134px 0 219px;
				align-items: end;

				img {
					width: 447px;
				}
			}
		}
		figcaption {
			padding: 0 16px;

			h4 {
				font-size: 40px;
				font-weight: 700;
				line-height: 66.48px;
				color: $theme-green;
				padding-bottom: 8px;
			}
			span {
				padding-bottom: 8px;
				font-weight: 700;
				display: block;
			}

			p {
				padding-bottom: 8px;
			}
			@include media-desktop {
				padding-left: 58px;
				padding-bottom: 30px;
			}
		}
	}

	section.section-contact {
		background-image: linear-gradient(white, #f2f2f2);

		figure {
			content: " ";
			background-image: url(img/Ellipse-mob-1.svg);
			background-position-y: 190px;
			background-repeat: no-repeat;
			background-size: auto;
			h5 {
				font-size: 40px;
				font-weight: 700;
				color: #4f4f4f;
				line-height: 66.48px;
				padding: 0 16px;
			}
			img {
				padding: 8px 25px 28px;

				@include media-desktop {
					width: 486px;
				}
			}

			@include media-desktop {
				background-image: none;
				z-index: 3;
			}
		}
		p {
			font-weight: 700;
			line-height: 26.59px;
			padding-left: 16px;
		}

		form {
			padding: 0 16px;
			padding-top: 12px;
			padding-bottom: 160px;
			content: " ";
			background-image: url(img/rulo-rosa-mob-2.svg);
			background-position-y: 303px;
			background-repeat: no-repeat;
			background-size: auto;
			z-index: 3;
			position: relative;
			label {
				font-weight: 300;
				font-size: 16px;
				color: #4f4f4f;
				display: block;
				input,
				textarea {
					display: block;
					background-color: white;
					border: solid 2px $theme-green;
					width: 100%;
					border-radius: 8px;
					padding: 10px;
				}
			}

			button {
				float: right;
				margin-top: 8px;
				border-radius: 8px;
				border: none;
				background: $theme-green;
				padding: 15px 65px;
				font-size: 20px;
				font-weight: bold;
				cursor: pointer;
			}
			@include media-desktop {
				min-width: 700px;
				background-image: none;
			}
		}

		@include media-desktop {
			display: flex;
			padding: 200px 134px 44px 80px;
			align-items: start;
			position: relative;
			&::after {
				content: " ";
				background-image: url(img/rulo-rosa-dk-2.svg);
				background-repeat: no-repeat;
				width: 705px;
				height: 298px;
				position: absolute;
				bottom: -1px;
				right: 0;
				z-index: 1;
			}
			&::before {
				content: " ";
				background-image: url(img/Ellipse-dk-1.svg);
				background-repeat: no-repeat;
				width: 436px;
				height: 436px;
				position: absolute;
				bottom: 93px;
				left: 0px;
				z-index: 1;
			}
			div {
				padding-top: 69px;
			}
		}
	}

	section.home-blog {
		padding: 45px 16px;
		margin-bottom: 30px;
		@include media-desktop {
			max-width: 1200px;
			margin: 0 auto;
			margin-bottom: 60px;
		}

		h4 {
			font-size: 40px;
			font-weight: 700;
			padding: 8px 0;
			@include media-desktop {
				max-width: 1200px;
				display: block;
				margin: 0 auto;
				padding-left: 10px;
				padding-bottom: 8px;
			}
		}
		img {
			padding: 0;
			margin: 0;
		}
		.post-item {
			padding-bottom: 24px;
			@include media-desktop {
				padding-left: 10px;
				padding-right: 10px;
				flex-basis: 33.33%;
			}
		}

		article.post-container-blog {
			@include media-desktop {
				display: flex;
				align-items: flex-start;
				justify-content: left;
				max-width: 1200px;
				flex-wrap: wrap;
				margin: 0 auto;
			}
		}

		h2,
		a {
			line-height: 34px;
			font-size: 20px;
			&.ver-mas {
				float: right;
				font-size: 24px;
				line-height: 40px;
			}
		}
	}
}

input[type="text"],
input[type="email"] {
	margin-bottom: 25px;
}

body.page.error404 {
	main {
		padding-top: 300px;
		text-align: center;
	}
}