body {
	img {
		width: 100%;
		margin: 0 auto;
		padding: 0 25px 32px;
	}
	p {
		font-size: 16px;
		line-height: 26.59px;
	}
	section.section-title {
		figure {
			content: " ";
			background-image: url(img/linea-verde-mob-1.png);
			background-position-y: 46px;
			background-repeat: no-repeat;
			background-size: contain;
		}
		figcaption {
			h1 {
				font-family: "Inter", sans-serif;
				font-size: 48px;
				text-align: center;
				padding-bottom: 8px;
				margin-bottom: 0;
				font-weight: 100;
			}
			p {
				max-width: 290px;
				text-align: center;
				font-size: 24px;
				line-height: 39px;
				margin: 0 auto;
			}
		}
	}

	section.section-about-work {
		padding: 230px 16px 80px;
		content: " ";
		background-image: url(img/rulo-rosa-mob-1.svg);
		background-position-y: 24px;
		background-repeat: no-repeat;
		margin-top: -65px;
		background-size: contain;
		h2 {
			font-size: 40px;
			font-weight: 700;
			color: $theme-pink;
			line-height: 66.48px;
			padding-bottom: 8px;
		}
		p {
			padding-bottom: 8px;
		}
	}

	section.section-therapy-individual,
	section.section-therapy-couples {
		figcaption {
			h3 {
				font-size: 20px;
				font-weight: 700;
				line-height: 33.24px;
				padding-bottom: 8px;
			}
			p {
				padding-bottom: 20px;
			}
			padding: 0 16px 40px;
		}
	}
	section.section-therapy-individual {
		background-image: linear-gradient(white, $theme-pink);
		margin-bottom: 80px;
	}
	section.section-therapy-couples {
		background-image: linear-gradient(white, $theme-green);
		margin-bottom: 40px;
	}

	section.section-fees {
		margin: 48px 16px;
		padding: 40px;
		border: solid 3px #e0e0e0;
		border-radius: 4px;

		span {
			font-size: 20px;
			font-weight: 700;
			line-height: 33.24px;
		}
		p {
			padding-top: 16px;
		}
		p.fee-box {
			font-size: 16px;
			font-weight: 700;
			line-height: 26.59px;
			padding-top: 0;
		}
	}

	section.section-about-me {
		figcaption {
			padding: 0 16px;

			h4 {
				font-size: 40px;
				font-weight: 700;
				line-height: 66.48px;
				color: $theme-green;
				padding-bottom: 8px;
			}
			span {
				padding-bottom: 8px;
				font-weight: 700;
				display: block;
			}

			p {
				padding-bottom: 8px;
			}
		}
	}

	section.section-contact {
		padding: 55px 16px 80px;
		background-image: linear-gradient(white, #f2f2f2);

		h5 {
			font-size: 40px;
			font-weight: 700;
			color: #4f4f4f;
			line-height: 66.48px;
			padding: 0 16px;
		}
		img {
			padding-bottom: 28px;
		}
		p {
			font-weight: 700;
			line-height: 26.59px;
		}

		form {
			padding-top: 12px;
			padding-bottom: 70px;
			label {
				font-weight: 300;
				font-size: 16px;
				color: #4f4f4f;
				display: block;
				input,
				textarea {
					display: block;
					background-color: white;
					border: solid 2px $theme-green;
					width: 100%;
					border-radius: 8px;
					padding: 10px;
				}
			}

			button {
				float: right;
				margin-top: 8px;
				border-radius: 8px;
				border: none;
				background: $theme-green;
				padding: 10px 40px;
				font-size: 20px;
				font-weight: bold;
			}
		}
	}
}
