/* 
    Styles for Single
*/

body.single.single-post {
    main {
        padding: 105px 16px;
        content: " ";
        background-image: url(img/linea-verde-mob-1.svg);
        background-position-y: 155px;
        background-repeat: no-repeat;
        background-size: contain;
        h1,
        h2 {
            font-size: 32px;
            font-size: 32px;
            font-weight: 100;
            line-height: 53.18px;
            margin: 8px 0 24px;
            @include media-desktop {
                display: block;
                width: 100%;
                margin: 0 auto;
                max-width: 800px;
                padding-bottom: 24px;
            }
        }
        img {
            padding: 0;
            @include media-desktop {
                display: block;
                width: 100%;
                margin: 0 auto;
                max-width: 800px;
            }
        }

        p {
            padding-bottom: 25px;
            @include media-desktop {
                display: block;
                width: 100%;
                margin: 0 auto;
                max-width: 800px;
            }
        }
        @include media-desktop {
            content: " ";
            background-image: url(img/linea-verde-dk-1.svg);
            background-position-y: 130px;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            &::after {
                content: " ";
                background-image: url(img/Rectangle-rosa1.svg);
                background-position-y: 18px;
                background-repeat: no-repeat;
                background-size: contain;
                width: 185px;
                height: 185px;
                position: absolute;
                top: 365px;
                right: -101px;
            }
            &::before {
                content: " ";
                background-image: url(img/Rectangle-verde1.svg);
                background-position-y: 18px;
                background-repeat: no-repeat;
                background-size: contain;
                width: 290px;
                height: 290px;
                position: absolute;
                top: 204px;
                right: -170px;
            }
        }
        section.home-blog {
            padding: 45px 16px;
            @include media-desktop {
                max-width: 1200px;
                margin: 0 auto;
            }

            h4 {
                font-size: 40px;
                font-weight: 700;
                padding: 8px 0;
                @include media-desktop {
                    max-width: 1200px;
                    display: block;
                    margin: 0 auto;
                    padding-left: 10px;
                    padding-bottom: 8px;
                }
            }
            img {
                padding: 0;
                margin: 0;
            }
            .post-item {
                padding-bottom: 24px;
                img {
                    height: 246px;
                }
                @include media-desktop {
                    padding-left: 10px;
                    padding-right: 10px;
                    flex-basis: 33.33%;
                }
            }

            article.post-container-blog {
                @include media-desktop {
                    display: flex;
                    align-items: flex-start;
                    justify-content: left;
                    max-width: 1200px;
                    flex-wrap: wrap;
                    margin: 0 auto;
                }
            }

            h2,
            a {
                line-height: 34px;
                font-size: 20px;
                font-weight: 700;
                font-size: 20px;
                &.ver-mas {
                    float: right;
                    font-size: 24px;
                    line-height: 40px;
                }
            }
        }
    }
}
